*{
	box-sizing: border-box;
}
body{
	background-color: #E0E0E0;
	font-family: Georgia;
	font-size: 16px;
	color: #9E9E9E;
	margin: 0 0 0 0;
}
.below{
	text-align:center;
}

#goto-top{
		display:inline-block;
		text-align:center;
		color: #BDBDBD;
		height:45px;
		background:#424242;
		background-image: url(up.png), url(up.png);
		background-position: right top, left top;
		background-repeat: no-repeat, no-repeat;
		cursor:pointer;
		border-radius:10px;
		font-family: Georgia;
		font-size: 16px;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		z-index=-10;
	}

#goto-top:hover{
		
		z-index=-10;
		color: #Fafafa;
	}	

.blockquote{
	width: 90%;
	margin: 10px auto;
	padding: 15px;
	font-size: 18px;
	background: #E0E0E0;
	border-radius: 10px;
	font-style: italic;
	color: #424242;
	display:block;
	line-height: 2em;
}

.res-image{
	width: 100%;
	margin: 10px auto;
}

.res-video {
	margin: 10px auto;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	background-color: #FDFDFD;
	padding-top: 25px;
	height: 0;
}
.res-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#toggle{
	display:none;
}
.small-header{
	display:none;
}


.main-header{
	width: 100%;
	display:block;
	background: #424242;
	text-align:center;
	padding: 5px;
}

.main-header a{
	display:inline-block;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	background: #424242;
	border: 2px solid #424242;
	text-decoration:none;
	color: #E0E0E0;
	
}

.main-header a:hover{
	display:inline-block;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	background: #212121;
	border: 2px solid #212121;
	text-decoration:none;
	color: #E0E0E0;
	
}

h1{
	color: #000000;
}

.share{
	display:inline-block;
	padding: 10px;
	text-align:center;
}

.facebook:hover{
	background-color:#3f51b5;
	color: #e0e0e0;cursor: pointer;
	border: 2px solid #0d47a1;
}
.facebook{
	background-color:#0d47a1;
	color: #e0e0e0;
	border: 2px solid #0d47a1;
}

.twitter:hover{
	background-color:#42a5f5;
	color: #e0e0e0;
	cursor: pointer;
	border: 2px solid #1565c0;
}
.twitter{
	background-color:#2196f3;
	color: #e0e0e0;
	border: 2px solid #2196f3;
}

.google:hover{
	background-color:#e53935;
	color: #e0e0e0;cursor: pointer;
	border: 2px solid #b71c1c;
}
.google{
	background-color:#b71c1c;
	color: #e0e0e0;
	border: 2px solid #b71c1c;
}

.main{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	background-color: #FEFEFE;
	padding: 10px;
}

.promo{
	width: 50%;
	padding: 10px;
	border: 2px solid #FEFEFE;
	float:left;
	color: #757575;
	background-color: #EEEEEE;
}

.promo h2{
	text-align:center;
	color: #212121;
}

.image-wrapper{
	text-align:center;
}

.images{
	margin-top: 5px;
	width:24%;
	position:relative;
	height: 200px;
	display:inline-block;
	border: 3px solid #9e9e9e;
	background-size: cover;
	overflow:hidden;
}

.image-content-false{
	width: 97%;
	padding: 10px;
	color:white;
	top: 150px;
	display:block;
	position:relative;
	text-align:center;
}


.images span{
	margin: 3px;
	padding: 10px;
	background-color: rgba(0,0,0,0.6);
	color: #Fafafa;
	text-decoration: none;
}

.images span:hover{
	margin: 3px;
	padding: 10px;
	background-color: rgba(0,0,0,1);
	color: #Fafafa;
	text-decoration: none;
}

.images span a{
	margin: 3px;
	padding: 5px;
	color: #Fafafa;
	text-decoration: none;
}

.images span a:hover{
	margin: 3px;
	padding: 5px;
	color: #Fafafa;
	text-decoration: none;
}

.image-one{
	background-image: url("1.jpg");
	background-color: #5d4037;
}
.image-two{
	background-image: url("2.jpg");
	background-color: #00bfa5;
}
.image-three{
	background-image: url("3.jpg");
	background-color: #C62828;
}
.image-four{
	background-image: url("4.jpg");
	background-color: #880E4F;
}
.image-five{
	background-image: url("5.jpg");
	background-color: #880E4F;
}
.image-six{
	background-image: url("6.jpg");
	background-color: #2196F3;
}
.image-seven{
	background-image: url("7.jpg");
	background-color: #009688;
}
.image-eight{
	background-image: url("8.jpg");
	background-color: #E65100;
}

footer{

	width: 100%;
	padding: 10px;
	background: #757575;
	text-align: center;
}

footer a{
	display: inline-block;
	color: #424242;
	padding: 10px;
	text-decoration: none;
}

footer a:hover{
	display: inline-block;
	color: #E0E0E0;
	padding: 10px;
	text-decoration: none;
}

.copyright{
	margin-top: 5px;
	font-size: 14px;
}



.clear-fix{ clear:both; }





@media only screen and (max-width:479px){

	.main-header{
		display:none;
	}
	

	#toggle{
		width: 100%;
		height:45px;
		display:block;
		color: #E0E0E0;
		font-weight: bold;
		text-align:center;
		background: #424242 url("nav.png") no-repeat 0 0;
		padding: 10px;
		border: 2px solid #212121;
	}
	
	
	#toggle:hover{
		width: 100%;
		display:block;
		cursor:pointer;
		background-color: #424242;
		padding: 10px;
		border: 2px solid #424242;
	}
	
	

	.small-header{
		display:block;
		padding: 10px;
		width: 100%;
		background: #757575;
	}

	.small-nav{
		color: #E0E0E0;
		background:#616161;
		margin-top: 5px;
		font-weight: bold;
		border-radius: 5px;
		background: #616161;
		border: 2px solid #616161;
		text-align:center;padding: 10px;
		text-decoration: none;
		display: block;
	}
	.small-nav:hover{
		color: #E0E0E0;
		background:#616161;
		margin-top: 5px;
		font-weight: bold;
		border: 2px solid #424242;
		border-radius: 5px;
		text-align:center;padding: 10px;
		text-decoration: none;
		display: block;
	}
	
	.small-header-form{
		text-align:center;
		
	}
	
	#search-box{
		width: 200px;
		height: 45px;
		font-family: Georgia;
		display:inline-block;
		padding: 10px;
		background:#616161;
		border-radius: 5px;
		color: #E0E0E0;
		border: 2px solid #616161;
	}
	#search-box:focus{
		width: 200px;
		font-family: Georgia;
		background:#616161;
		height: 45px;
		border-radius: 5px;
		color: #E0E0E0;
		border: 2px solid #9E9E9E;
	}
	
	#search-button{
		width: 45px;
		height: 45px;
		border-radius: 5px;
		display:inline-block;
		color: #E0E0E0;
		background: #424242 url("search.png") no-repeat 0 0;
		border: 2px solid #424242;
	}
	#search-button:hover{
		width: 45px;
		height: 45px;
		border-radius: 5px;
		color: #E0E0E0;
		background: #424242 url("search.png") no-repeat 0 0;
		border: 2px solid #9E9E9E;
		cursor: pointer;
	}
	
	.promo{
		width:100%;
		float:none;
	}
	
	.images{
		margin-top: 5px;
		width:99%;
		height: 200px;
		display:inline-block;
		border: 3px solid #9e9e9e;
		background-size: cover;
	}
	
	footer{
	width: 100%;
	padding: 10px;
	background: #757575;
	text-align: center;
}

	footer a{
	color: #E0E0E0;
	padding: 10px;
	display:block;
	font-weight: bold;
	background: #616161;
	border: 2px solid #616161;
	margin-top: 2px;
	border-radius: 7px;
	text-decoration: none;
	}
	
	footer a:hover{
	color: #E0E0E0;
	padding: 10px;
	font-weight: bold;
	display:block;
	background: #616161;
	border-radius: 7px;
	border: 2px solid #424242;
	margin-top: 2px;
	text-decoration: none;
	}
}

@media only screen and (min-width:480px) and (max-width:639px){
	.promo{
		width:100%;
		float:none;
	}
	

	.images{
		margin-top: 5px;
		width:49%;
		height: 200px;
		display:inline-block;
		border: 3px solid #9e9e9e;
		background-size: cover;
	}
}

@media only screen and (min-width:640px) and (max-width:799px){
	.promo{
		width:50%;
		float:left;
	}
	

	.images{
		margin-top: 5px;
		width:32%;
		height: 200px;
		display:inline-block;
		border: 3px solid #9e9e9e;
		background-size: cover;
	}
}

@media only screen and (min-width:800px) and (max-width:959px){
	.promo{
		width:50%;
		float:left;
	}
	

	.images{
		margin-top: 5px;
		width:24%;
		height: 200px;
		display:inline-block;
		border: 3px solid #9e9e9e;
		background-size: cover;
	}
}

@media only screen and (min-width:1000px){

	
}